.App
{
    text-align: center;
}
.navbar
{
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(66, 74, 77);
    color:white;
}

.nav-links
{
    width:40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

div.details
{
display:flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
padding:1rem;
background-color: rgb(39, 43, 44);
color:white;
}
img.itemImage
{
   width:200px;
   height:200px;
}